
nav {
  background-color: $nav-color;

  .menu-tabs {
    box-shadow: none;

    :hover {
      background-color: $table-striped-color;
    }

  }

  .menu-tabs-selected {
    box-shadow: none;
    background-color: lighten($nav-color, 10%);
  }

}


 .sub-header{
  color:$primary-color-light;
   font-size: 1.4rem;
}

body {
  font: 100% $font-stack;
  background-color: $primary-color;

}

table {
  &.highlight > tbody > tr {
    border: 1px solid $table-border-color;

    a {
      color: lighten($primary-color-dark,10%);
      padding: 0 1px;
      font-weight: bold;
    }

    > th {
      background-color: $primary-color;
      color: $primary-color-dark;
      font-weight: bold;

    }

  }
}

.col .connected {
  padding-left: 0rem;
  padding-right: 0rem;
}

.content {
  background-color: $primary-color-light;
  margin: 0.5rem 1%;

  width: 98%;
}

.col .content {
  padding: 1%;
}

.row {
  margin-bottom: 0px;
  width: 100%;
}


.secondary-nav {
  background-color: $secondary-nav-color;
  margin: 0px;
}

.sidemenu {
  height: 100%;
  position: fixed;
  z-index: 9999;
}

.m-1{
  margin:1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.datagrid {
  border: $primary-color-dark solid;
}

.selected-page{
  border-bottom: $nav-color solid;
}
